<!DOCTYPE html>
<html>
<head>
  <title>ConTextualSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation 5</title>

  <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/main.css">

  <link href='http://fonts.googleapis.com/css?family=Economica:400normal,400italic,700normal,700italic' rel='stylesheet' type='text/css'>

  <!-- If you are using the gem version, you need this only -->
  <link rel="stylesheet" href="css/app.css">

  <script src="js/vendor/modernizr.js"></script>
  <script src="js/vendor/jquery.js"></script>
  <script type="text/javascript" src="js/home.js"></script>
</head>
<body>
<%= render "shared/menu" %>
<%= yield %>

<!-- ######################## Footer ######################## -->
<footer>

      <div class="row">
          <div class="twelve columns footer">
            
              <span>© Copyright ConTextual 2014</span>
          </div>
          
      </div>

</footer>

<!-- ######################## Enda Footer ######################## -->

  <!--<script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>-->
</body>
</html>
